<h1>Listing jsonfiles</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Description</th>
    <th>Jsonparse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jsonfiles.each do |jsonfile| %>
  <tr>
    <td><%= jsonfile.filename %></td>
    <td><%= jsonfile.description %></td>
    <td><%= jsonfile.jsonparse %></td>
    <td><%= link_to 'Show', jsonfile %></td>
    <td><%= link_to 'Edit', edit_jsonfile_path(jsonfile) %></td>
    <td><%= link_to 'Destroy', jsonfile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jsonfile', new_jsonfile_path %>
