<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @cal_event_cat.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @cal_event_cat.name %>
</p>

<p>
  <b>Description:</b>
  <%= @cal_event_cat.description %>
</p>


<%= link_to 'Edit', edit_cal_event_cat_path(@cal_event_cat) %> |
<%= link_to 'Back', cal_event_cats_path %>
