<h1>Listing map_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @map_types.each do |map_type| %>
  <tr>
    <td><%= map_type.name %></td>
    <td><%= map_type.description %></td>
    <td><%= link_to 'Show', map_type %></td>
    <td><%= link_to 'Edit', edit_map_type_path(map_type) %></td>
    <td><%= link_to 'Destroy', map_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map type', new_map_type_path %>
